<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>$title$</title>
        <link rel="icon" type="image/png" href="/images/poundexclam.png">
        <!-- <link rel="stylesheet" href="/css/default.css" /> -->
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/syntax.css" />
        <link href="//s.w.org/wp-includes/css/dashicons.css?20160504" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <script type="text/javascript" src="/js/jquery-3.7.1.slim.min.js"></script>
        <script type="text/javascript" src="/js/deobfuscate.js"></script>

    </head>
    <body class="home blog hfeed has-header-image has-sidebar colors-light">
      <div id="page"  class="site">
          <header id="masthead" class="site-header" role="banner">
              <div class="custom-header" style="margin-bottom: 0px;">

	              <div class="custom-header-media">
	                <div id="wp-custom-header" class="wp-custom-header"><img src="/images/header.jpg" alt="Banner Image"></div>		</div>

	                    <div class="site-branding" style="margin-bottom: 0px;">
	                        <div class="wrap">

	                          <div class="site-branding-text">
					          <h1 class="site-title"><a href="#link" rel="home">$title$</a></h1>

						          <p class="site-description">$site_desc$</p>
				                    </div><!-- .site-branding-text -->

				                      <a href="#content" class="menu-scroll-down"><svg class="icon icon-arrow-right" aria-hidden="true" role="img"> <use href="#icon-arrow-right" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use> </svg><span class="screen-reader-text">Scroll down to content</span></a>

	                        </div><!-- .wrap -->
                      </div><!-- .site-branding -->

              </div>
        </header>

        <main role="main" class="site-content-contain">
            <div id="content"  class="site-content">
            <div class="wrap">
                $body$
                $partial("templates/aside.html")$
            </div>
            </div>

          <footer id="colophon" class="site-footer" role="contentinfo">
            <div class="wrap">
              <div class="site-info">
                Copyright 2025 <a href="https://www.neil.mayhew.name">Neil Mayhew</a>
                |
                License <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
                |
                Generated by <a href="http://jaspervdj.be/hakyll">Hakyll</a>
                |
                Theme by <a href="http://github.com/katychuang.com/wp-twentyseventeen">katychuang</a>
              </div>
            </div>
          </footer>

        </main>
      </div>
    </body>
</html>
